/* Секция с главным заголовком и картинкой */

.companyOverview {
  display: grid;
  row-gap: 20px;
  justify-items: center;
}

@media (max-width: 1050px) {
  .companyOverview {
    margin-top: 70px;
  }
}

@media (min-width: 1051px) {
  .companyOverview {
    grid-template-columns: auto auto;
    column-gap: 60px;
  }
}

.overviewLeft {
  display: grid;
  grid-template-columns: auto;
  justify-items: start;
  align-content: space-evenly;
}

.overviewTitle {
  font-size: 29px;
  line-height: 47px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 15px;
}

.overviewItemColor {
  color: #13ab4e;
}

@media (min-width: 1051px) {
  .overviewTitle {
    font-size: 48px;
    line-height: 72px;
  }
}
.overviewBtn {
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  width: 100%;
  text-align: center;
}

@media (min-width: 550px) {
  .overviewBtn {
    grid-template-columns: auto auto;
    column-gap: 25px;
  }
}

.overviewText {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

@media (min-width: 650px) {
  .overviewText {
    font-size: 20px;
    line-height: 36px;
  }
}

.overviewIllustration {
  max-width: 564px;
  min-width: 320px;
  width: 100%;
  height: auto;
}

/* Секция с логотипами корпораций */

.companyCooperation {
  text-align: center;
}

.workTitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: 80px;
  margin-right: 80px;
  color: #0d7d38;
}

.workList {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1051px) {
  .workList {
    gap: 56px;
  }
}

.workIllustration {
  height: 43px;
}

@media (min-width: 1051px) {
  .workIllustration {
    height: 67px;
  }
}

.workLink {
  display: block;
}
