.boxNumer {
  position: relative;
}
.itemNumber {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 2;

  font-size: var(--smallest);
  line-height: 24px;
  font-family: var(--semibold);

  color: var(--white);
}

.boxSlide {
  position: relative;
}

.slidePhoto {
  display: block;

  max-width: 100%;
}

.sliadeTitle {
  position: absolute;
  top: 76%;
  left: 0;

  width: 100%;

  padding-left: 32px;

  font-size: var(--huge);
  line-height: 44px;
  font-family: var(--bold);
  color: var(--white);
}

@media (min-width: 650px) {
  .sliadeTitle {
    top: 86%;
  }
}

.prev {
  position: absolute;
  top: 50%;
  left: 36px;
  z-index: 2;
  transform: translateY(-50%);

  display: flex;

  padding: 0;

  cursor: pointer;
  border: none;
  background-color: transparent;
}

.next {
  position: absolute;
  top: 50%;
  right: 36px;
  z-index: 2;
  transform: translateY(-50%);

  display: flex;
  padding: 0;

  cursor: pointer;
  border: none;
  background-color: transparent;
}

.prev svg,
.next svg {
  width: 46px;
  height: 14px;

  color: var(--white);
}

.next svg {
  transform: rotate(180deg);
}
