.main {
  background-color: var(--lightGrey);
}

.category {
  margin-bottom: 56px;
}

.advantages {
  margin-bottom: 32px;
}

.adviceSwiper {
  padding-top: 72px;
  padding-bottom: 92px;

  background-color: var(--white);
}

.AboutProduction {
  margin-bottom: 17px;
}

.AboutCompany {
  padding-top: 70px;

  background-color: var(--white);
}

.DescriptionAcordeon {
  padding: 50px 0;

  background-color: var(--white);
}
