/*  Первый слайдер  */

.comment {
  text-align: center;
}

.title {
  margin-left: 80px;
  margin-right: 80px;
}

.text {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
}

.cardComment {
  display: grid;

  grid-template-columns: auto;
}
@media (min-width: 1051px) {
  .cardComment {
    grid-template-columns: 38% 1fr;
    gap: 64px;
  }
}

.photoItem {
  display: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.photoItemIsOpen {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.photoUser {
  height: auto;
}

@media (min-width: 1051px) {
  .photoUser {
    display: block;
  }
}

/*  Второй слайдер  */

.textItem {
  display: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.textItemIsOpen {
  display: block;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.textUser {
  font-size: 24px;
  line-height: 42px;
  font-weight: 400;
}

@media (min-width: 1051px) {
  .textUser {
    font-size: 24px;
    line-height: 42px;
    font-weight: 400;
  }
}

.userCard {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 22px;
}

.userPhoto {
  grid-row: span 2;
}

.cardName {
  font-size: 19px;
  line-height: 36px;
  font-weight: 700;
}

@media (min-width: 1051px) {
  .cardName {
    font-size: 24px;
    line-height: 42px;
  }
}

.cardPosition {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: 1051px) {
  .cardPosition {
    font-size: 18px;
    line-height: 27px;
  }
}

/* Слайдер коментарии */

.pagination {
  display: flex;

  list-style: none;
  align-items: center;
  align-content: center;
}

.cardPagination {
  display: flex;
  gap: 10px;
  margin-top: 35px;
  justify-content: center;
}

@media (min-width: 1051px) {
  .cardPagination {
    justify-content: left;
  }
}

.pagination-bullet {
  height: 12px;
  width: 12px;
  margin: 0 12px;
  background-color: #13ab4d65;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.pagination-active {
  background-color: #13ab4e;
}

.iconPrev {
  transform: rotate(0.5turn);
}

.iconNext,
.iconPrev {
  cursor: pointer;
  color: #13ab4de8;
}

.iconNext:hover,
.iconPrev:hover {
  color: #13ab4e;
}

.swiper-text {
  overflow: hidden;
  width: 100%;
}
