.headerColor {
  background-color: var(--white);
}

.header {
  padding: 20px 0;

  font-size: var(--large);
  line-height: 32px;
  font-family: var(--bold);
  text-align: center;
}

.boxCategory {
  position: relative;
}

.boxCategory::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 2px;

  content: "";
  background-color: var(--strokeGreyLight);
}

.boxCategory::after {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 2px;

  content: "";
  background-color: var(--strokeGreyLight);
}

.list {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;

  margin-bottom: 32px;
}
@media (min-width: 1051px) {
  .list {
    grid-template-columns: auto auto;
  }
}

.link {
  position: relative;

  display: block;
}

.link:hover .activeHover {
  opacity: 1;
}

.cardIllustration {
  display: block;
  max-width: 750px;
  max-height: 500px;
  width: 100%;
}

.activeHover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  transition: opacity 0.5s linear;
  opacity: 0;
}

/* @media (min-width: 650px) {
  .itemOne {
    grid-column: span 2;
  }
}

@media (min-width: 1051px) {
  .itemOne {
    grid-column: 1;
  }
} */

.cardTitle {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  align-items: end;

  max-width: 750px;
  width: 100%;
  height: 100%;

  padding: 0 12px;
}

@media (min-width: 650px) {
  .cardTitle {
    padding: 0 32px;
  }
}

.gridTitle {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;
}

@media (min-width: 650px) {
  .gridTitle {
    margin-bottom: 24px;
  }
}

.title {
  font-size: var(--small);
  line-height: 20px;
  font-family: var(--bold);

  color: var(--black);
}

@media (min-width: 650px) {
  .title {
    font-size: var(--average);
    line-height: 28px;
  }
}

.number {
  font-size: var(--smallest);
  line-height: 12px;
  letter-spacing: 2px;
  font-family: var(--bold);

  color: var(--greyTextSecond);
}

.boxText {
  display: grid;
  grid-template-columns: auto;
  row-gap: 38px;
  align-items: center;
}

@media (min-width: 650px) {
  .boxText {
    grid-template-columns: auto auto;
    column-gap: 50px;
  }
}

.text {
  font-size: var(--small);
  line-height: 20px;
  font-family: var(--regular);

  color: var(--greyTextSecond);
}

@media (min-width: 1051px) {
  .text {
    font-size: var(--slightlyMore);
    line-height: 24px;
  }
}

.fragmentText {
  font-family: var(--bold);
  color: var(--black);
}

@media (min-width: 1051px) {
  .btn {
    width: 400px;
    height: 70px;
  }
}
