.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 16px;
  justify-content: space-between;
}

@media (min-width: 1051px) {
  .list {
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
}

.item {
  display: grid;
}

.descriptionAcordeon {
  padding: 40px 0;
}

.list {
  max-height: 100%;
}

.photo {
  max-height: 100%;
  max-width: 100%;
}
