.logo {
  display: block;

  width: 93px;
  height: 64px;
}

.linkBox {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1051px) {
  .linkBox {
    grid-template-columns: auto 1fr;
    column-gap: 50px;
  }
}

.itemsBox {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  align-items: center;
}

@media (min-width: 1051px) {
  .itemsBox {
    grid-template-columns: auto;
  }
}

.linkSearch {
  display: inline;

  background: transparent;
  border: 0;
}

.linkLogo,
.linkSearch {
  z-index: 4;
}

.search {
  display: block;

  width: 18px;
  height: 18px;

  cursor: pointer;

  color: var(--gray);
  transition: color 0.5s ease 0s;
}

@media (min-width: 1051px) {
  .search {
    display: none;
  }
}

.search:hover {
  color: var(--orange);
}
