.feedback {
  text-align: center;
}

.title,
.text {
  margin-left: 80px;
  margin-right: 80px;
}

.feedbackForm {
  display: grid;
  grid-template-rows: 1fr;
}

.list {
  display: grid;
  grid-template-columns: auto;
  gap: 17px;
  align-content: center;
  padding: 15px 0;

  width: 100%;
  max-width: 527px;
  margin: 0 auto;
}

.list .btn {
  padding: 23px 0;
}

.label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  max-width: 527px;
  height: 64px;
  display: block;
  padding-left: 24px;
  background-color: #f7f8fa;
  border: none;
}

.input:hover {
  box-shadow: inset 0 0 0 1px #13ab4e;
}

.input:focus {
  outline: 0;
  box-shadow: inset 0 0 0 1px #13ab4e;
}
