.nav {
  display: grid;
  grid-template-columns: auto auto;

  column-gap: 30px;
}

.navLeft {
  display: grid;
  grid-template-columns: auto;

  margin-bottom: 44px;
}

.navRight {
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  margin-top: 45px;
}

.navLeft::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 6px;

  content: "";
  background-color: var(--orange);
}

.header {
  margin-bottom: 16px;

  font-size: var(--slightlyMore);
  line-height: 28px;
  font-family: var(--bold);

  color: var(--white);
}

.link {
  display: block;

  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: var(--white);
}

.subtitle {
  font-size: var(--small);
  line-height: 20px;
  font-family: var(--regular);

  color: var(--greyTextSecond);

  margin-bottom: 12px;
}

.subtitle:hover {
  transition: all 02s linear;
  color: var(--white);
}

.social {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 32px;
}

.logo {
  display: block;

  width: 93px;
  height: 64px;
}

.boxContacts {
  display: grid;
  grid-template-columns: auto;
}

.linkPhone,
.linkEmail {
  font-size: var(--average);
  line-height: 20px;
  font-family: var(--bold);

  text-decoration: none;
  color: var(--white);
}

.linkPhone:hover,
.linkEmail:hover {
  text-decoration: underline;
}

.list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 16px;
  justify-content: start;
}

.instagram,
.vk,
.facebook,
.telegram {
  width: 20px;
  height: 20px;

  justify-content: start;

  color: var(--greyTextSecond);
}
.instagram:hover,
.vk:hover,
.facebook:hover,
.telegram:hover {
  color: var(--white);
}

.feedback {
  padding: 0;

  text-align: start;

  font-size: var(--small);
  line-height: 20px;
  font-family: var(--regular);

  cursor: pointer;
  border: transparent;
  background: transparent;

  text-decoration: none;
  color: var(--greyTextSecond);
}

.feedback:hover {
  transition: all 0.2s linear;

  text-decoration: underline;
  color: var(--white);
}
