.nav {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

@media (min-width: 400px) {
  .nav {
    justify-content: normal;
  }
}

.navGrid {
  display: grid;
  grid-template-columns: auto;
}

@media (min-width: 650px) {
  .navGrid {
    column-gap: 25px;
    grid-template-columns: auto auto;
  }
}

.navLeftCatalog {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 20px;
}

@media (min-width: 400px) {
  .navLeftCatalog {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 650px) {
  .navLeftCatalog {
    grid-template-columns: auto auto;
    column-gap: 30px;
  }
}

.navLeftCatalog::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 6px;

  content: "";
  background-color: var(--orange);
}

.navLeftInfo {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 20px;
}

@media (min-width: 400px) {
  .navLeftInfo {
    grid-template-columns: auto auto;
    column-gap: 58px;
  }
}

@media (min-width: 650px) {
  .navLeftInfo {
    grid-template-columns: auto auto;
    column-gap: 30px;
  }
}

.header {
  margin-bottom: 16px;
  grid-column: span 1;

  font-size: var(--slightlyMore);
  line-height: 28px;
  font-family: var(--bold);

  color: var(--white);
}

@media (min-width: 400px) {
  .header {
    grid-column: span 2;
  }
}

@media (min-width: 1051px) {
  .header {
    font-size: var(--large);
  }
}

.link {
  display: block;

  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: var(--white);
}

.subtitle {
  font-size: var(--small);
  line-height: 20px;
  font-family: var(--regular);

  color: var(--greyTextSecond);
  transition: all 0.2s linear;
  margin-bottom: 12px;
}

.subtitle:hover {
  color: var(--white);
}

@media (min-width: 1051px) {
  .subtitle {
    font-size: var(--slightlyMore);
  }
}

.social {
  position: relative;

  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
  justify-content: center;

  white-space: nowrap;

  padding-bottom: 76px;
}

.social::after {
  position: absolute;
  top: 87%;
  left: 0;

  width: 100%;
  height: 2px;

  content: "";
  background-color: var(--greyTextSecond);
}

@media (min-width: 400px) {
  .social::after {
    top: 80%;
  }
}

@media (min-width: 650px) {
  .social::after {
    top: 73%;
  }
}

@media (min-width: 400px) {
  .social {
    grid-template-columns: auto auto;
    justify-content: normal;
  }
}

@media (min-width: 650px) {
  .social {
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 32px;

    align-items: center;
  }
}

.logo {
  display: block;

  width: 93px;
  height: 64px;
}

.boxContacts {
  display: grid;
  grid-template-columns: auto;
  row-gap: 12px;
}

@media (min-width: 1051px) {
  .boxContacts {
    grid-template-columns: auto auto;
    column-gap: 25px;
  }
}

.linkPhone,
.linkEmail {
  font-size: var(--average);
  line-height: 20px;
  font-family: var(--bold);

  text-decoration: none;
  color: var(--white);
}

.linkPhone:hover,
.linkEmail:hover {
  text-decoration: underline;
}

@media (min-width: 1051px) {
  .linkPhone,
  .linkEmail {
    font-size: var(--big);
  }
}

.list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 16px;
  justify-content: start;
}

.instagram,
.vk,
.facebook,
.telegram {
  width: 20px;
  height: 20px;

  justify-content: start;

  color: var(--greyTextSecond);
}
.instagram:hover,
.vk:hover,
.facebook:hover,
.telegram:hover {
  color: var(--white);
}

@media (min-width: 1051px) {
  .instagram,
  .vk,
  .facebook,
  .telegram {
    width: 25px;
    height: 25px;
  }
}

.feedback {
  padding: 0;

  text-align: start;

  font-size: var(--small);
  line-height: 20px;
  font-family: var(--regular);

  cursor: pointer;
  border: transparent;
  background: transparent;

  text-decoration: none;
  color: var(--greyTextSecond);
  order: 1;
}

@media (min-width: 650px) {
  .feedback {
    order: unset;
  }
}

@media (min-width: 1051px) {
  .feedback {
    font-size: var(--slightlyMore);
  }
}

.feedback:hover {
  transition: all 0.2s linear;

  text-decoration: underline;
  color: var(--white);
}

.copyrightBox {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

@media (min-width: 650px) {
  .copyrightBox {
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
  }
}

.nameCompany {
  display: block;
  font-size: var(--smallest);
  line-height: 20px;
  font-family: var(--regular);
  color: var(--greyTextSecond);
  margin-bottom: 16px;
}

@media (min-width: 1051px) {
  .nameCompany {
    font-size: var(--average);
  }
}

.textCopyright {
  font-size: var(--smallest);
  line-height: 20px;
  font-family: var(--regular);
  color: var(--greyTextSecond);
  margin-bottom: 44px;
}

@media (min-width: 1051px) {
  .textCopyright {
    font-size: var(--average);
  }
}

@media (min-width: 650px) {
  .textCopyright {
    margin: 0;
  }
}

.logoCopyright {
  display: block;

  width: 114px;
  height: 18px;

  margin: 0 auto;
}

@media (min-width: 1051px) {
  .logoCopyright {
    width: 175px;
    height: 36px;
  }
}
