.color {
  position: relative;
  background-color: var(--lightGrey);
}

.color::after {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 2px;

  content: "";
  background-color: var(--strokeGreyLight);
}

.color::before {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 2px;

  content: "";
  background-color: var(--strokeGreyLight);
}

.boxHeader {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: center;
  align-items: center;

  padding: 20px 0;
}

.header {
  font-size: var(--large);
  line-height: 32px;
  font-family: var(--bold);

  color: var(--black);
}

.item {
  position: relative;
}

.boxItem {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;

  width: 100%;

  padding: 0 32px;
  margin-top: 24px;
}

@media (min-width: 650px) {
  .boxItem {
    margin-top: 32px;
  }
}

.categoryName {
  font-size: var(--lessSmall);
  line-height: 8px;
  font-family: var(--bold);
  letter-spacing: 2px;

  color: var(--greyTextSecond);
  text-transform: uppercase;
}

@media (min-width: 650px) {
  .categoryName {
    font-size: var(--small);
  }
}

.boxMaterial {
  display: grid;
  grid-template-columns: auto;
  row-gap: 8px;
}

.arrowBack {
  width: 16px;
  height: 16px;

  transition: color 0.3s linear;
}

.arrowBack:hover {
  color: var(--orange);
}

.material {
  width: 16px;
  height: 16px;
}

@media (min-width: 650px) {
  .material {
    width: 24px;
    height: 24px;
  }
}

.link {
  display: block;
}

.photo {
  display: block;

  width: 100%;

  margin-bottom: 2px;
}

.headerBottom {
  position: absolute;
  top: 83%;
  left: 32px;

  font-size: var(--slightlyMore);
  line-height: 28px;
  font-family: var(--bold);

  color: var(--black);
}

@media (min-width: 650px) {
  .headerBottom {
    top: 90%;

    font-size: var(--large);
  }
}

@media (min-width: 1051px) {
  .headerBottom {
    font-size: var(--biggest);
  }
}
