:root {
  /* colors */
  --black: #2d2d2d;
  --orange: #e15200;
  --lightBlack: #404040;
  --gray: #e4e4e4;
  --lightGrey: #f9f8f9;
  --white: #fff;
  --yellow: #f9d466;
  --strokeBlack: #4e4e4e;
  --greyTextSecond: #9f9f9f;
  --strokeGreyLight: #eaeaea;

  /* font sizes */

  --lessSmall: 9px;
  --smallest: 12px;
  --small: 14px;
  --average: 16px;
  --slightlyMore: 18px;
  --big: 20px;
  --large: 24px;
  --biggest: 32px;
  --huge: 44px;
  --megaHuge: 64px;

  /* fonts */
  --bold: "San Francisco Pro Display Bold";
  --semibold: "San Francisco Pro Display Semibold";
  --regular: "San Francisco Pro Display Regular";
  --medium: "San Francisco Pro Display Medium";

  /* breakpoints */

  --desktop: 1051px;
  --tablet: 650px;
}

.swiper-pagination-progressbar {
  top: auto !important;
  bottom: 0;
}

.swiper-slide-thumb-active {
  filter: none !important;
}

@font-face {
  font-family: "San Francisco Pro Display Bold";
  src: local("San Francisco Pro Display Bold"),
    url(./assets/fonts/SFProDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "San Francisco Pro Display Semibold";
  src: local("San Francisco Pro Display Semibold"),
    url(./assets/fonts/SFProDisplay-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "San Francisco Pro Display Medium";
  src: local("San Francisco Pro Display Medium"),
    url(./assets/fonts/SFProDisplay-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "San Francisco Pro Display Regular";
  src: local("San Francisco Pro Display Regular"),
    url(./assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
