.header {
  position: relative;

  height: 130px;

  padding-top: 46px;
}

.header::after {
  position: absolute;
  top: 97%;
  left: 0;
  z-index: 4;

  width: 100%;
  height: 4px;

  content: "";

  background-color: var(--orange);
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;

  width: 100%;
  height: 100%;

  content: "";

  background-color: var(--black);
}

.footer {
  position: relative;

  padding-top: 44px;
  padding-bottom: 72px;

  background-color: var(--black);
}
